<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Submit Credentials and Inventory</title>

        <style>

        </style>

        <script>
            function handleFormSubmit(event){
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;

                loginRequest = {username: username, password: password};

                console.log(loginRequest);

                fetch("http://localhost:8080/api/session/",

                {method: 'POST',
                headers: {'Content-Type': 'application/json', 'Accept': 'application/json'},

                body: JSON.stringify(loginRequest)})
                .then(response => {
                    if(!response.ok){
                        throw new Error('Response not Ok');
                    }

                    return response.json();
                })
                .then(data => {
                const sessionId = data.sessionId;
                localStorage.setItem('sessionId',sessionId);
                window.location.href = `http://localhost:8080/books/?sessionId=${sessionId}`
                })
                .catch(error => {console.error(error)});


            }
        </script>

    </head>
    <body>
        <!-- Section for Credentials Submission -->
        <div id="credentials-section">
            <h2>Submit Credentials</h2>
            <form id="credentials-form" onsubmit="handleFormSubmit(event)">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
    
                <button type="submit">Submit Credentials</button>
            </form>
        </div>
    </body>
</html>
    
    
