<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        async function getBooks() {
            //alert('hello!');

            const sessionId = localStorage.getItem('sessionId');

            const url = 'http://localhost:8080/api/books/?sessionId=' + sessionId

            //alert(url);

            const response = await fetch(url);
            if (!response.ok)
            {
                throw new Error(`Response status: ${response.status}`);
            }
            const responseJson = await response.json();
            const responseStringify = JSON.stringify(responseJson);
            //alert(responseJson);
            //https://stackoverflow.com/questions/26320525/prettify-json-data-in-textarea-input#:~:text=%2F%2F%20using%20JSON.stringify%20pretty%20print%20capability%3A%20var%20str,str%3B%20For%20this%20HTML%3A%20%3Ctextarea%20id%3D%22myTextArea%22%20cols%3D50%20rows%3D25%3E%3C%2Ftextarea%3E

            //alert(responseStringify);
            var pretty = JSON.stringify(responseJson, undefined, 4);
            document.getElementById('Book Inventory').value = pretty;

        }
    </script>



    
</head>
<body>
    <!-- Section for Inventory Submission -->
         
    <div id="inventory-section">
        <h2>Inventory</h2>
        <input id="submit" type="button" value="Get Books" onclick="getBooks();" />
    </div>


    <textarea id="Book Inventory" cols=50 rows=50></textarea>
</body>
</html>