<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        async function getBooks() {
            //alert('hello!');

            const sessionId = localStorage.getItem('sessionId');

            const url = 'http://localhost:8080/api/books/?sessionId=' + sessionId

            //alert(url);

            const response = await fetch(url);
            if (!response.ok)
            {
                if(response.status == 401)
                {
                    alert("Unauthorized Action")
                }
            }
            else
            {
                const responseJson = await response.json();
                const responseStringify = JSON.stringify(responseJson);
                //alert(responseStringify);
                var pretty = JSON.stringify(responseJson, undefined, 4);
                document.getElementById('Book Inventory').value = pretty;
            }

        }
    </script>



    
</head>
<body>
    <!-- Section for Inventory Submission -->
         
    <div id="inventory-section">
        <h2>Inventory</h2>
        <input id="submit" type="button" value="Get Books" onclick="getBooks();" />
    </div>


    <textarea id="Book Inventory" cols=50 rows=50></textarea>
</body>
</html>